<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
  <title>Pizzeria</title>
</head>
<body>
<div class="container" style="max-width: 720px; margin-top: 10%">
  <div class="alert alert-danger" role="alert" th:if="${error}">
    User with this login exists
  </div>
  <div class="card">
    <form action="/registration" method="post" class="card-body">
      <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login" name="login"  th:required="required">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password"  th:required="required">
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
  </div>
</div>
</body>
</html>